
html {
	font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
.border
{
border: 1px solid silver;
}
.margin{
margin-left: 5px;
margin-right: 5px;
}
.right{
	float:right;
}
.vhead{
	text-align:center;
}

h3{
	 text-align: center;
}

.vCenter{
      display: block;
     margin-left: auto;
     margin-right: auto;
	margin-bottom: 5px;
	margin-top:-5px;
}

.maincontainer{
	width: 662px;
   	margin:auto;
}

.calenderContainer{
	height: 1470px;
    width: 600px;
    margin: auto;
    border: solid 1px gray;
	display:inline-block;
	float:right;
	position:relative;
}

.labels{
	width:60px;
	display:inline-block;
	height:1470px;
	float:left;
}

.interval{
	height: 30px;
    font-size: 16px;
    border: 1px black;
    line-height: 13px;
}

table{
	width:100%;
	border-collapse: collapse;
	border: solid 1px pink;
	text-align:center;
}
thead {
    font-family: "Segoe UI";
    font-size: 18px;
    color: silver;
}

table td{
	height:30px;
	padding:0!important;
}

#messages {
    clear: both;
    font-size: 20px;
    text-align: center;
}


#msgTable{
	font-weight:;
}
.thead{
	font-family: 
}
/* Colors */
.color0{
	background:#c282ff;
}

.color1{
	background:#ff1919;
}

.color2{
	background:#ff911e;
}

.color3{
	background:#ffff91;
}

.color4{
	background:#d4ff69;
}

.color5{
	background:#a2ff41;
}

.color6{
	background:#69ffb6;
}

.color7{
	background:#69ffd4;
}

.color8{
	background:#69b6ff;
}

.color9{
	background:#df91ff;
}

.color10{
	background:#f0f0f0;
}